{% extends "base1.html" %}

{% block content %}
<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-chart-one">
        <div class="widget-heading">
            <h5 class="">Total Sales - {{city}}</h5>
        </div>

        <div class="widget-content">
            <div class="tabs tab-content">
                <div id="content_1" class="tabcontent">
                    <div id="retailsales"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-chart-one">
        <div class="widget-heading">
            <h5 class="">Total Quantity - {{city}}</h5>
        </div>

        <div class="widget-content">
            <div class="tabs tab-content">
                <div id="content_1" class="tabcontent">
                    <div id="retailqty"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block chartfiles %}
    <script type="text/javascript">
        var date = JSON.parse('{{result["date"] | tojson}}');
        var city = '{{ city }}';
        var totalSales = JSON.parse('{{result["totalSales"] | tojson}}');
        var totalQuantity = JSON.parse('{{result["totalQuantity"] | tojson}}');
        </script>
    <script src="{{ url_for('static', filename='plugins/apex/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/dashboard/retail_sales.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/dashboard/retail_qty.js') }}"></script>
{% endblock %}
